

.auth-container {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  text-align: center;
  background-image: "./assests/";

}

.auth-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ffd700;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input {
  margin: 10px 0;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #333;
  color: white;
}

.auth-container button {
  background-color: #ffd700;
  color: black;
  border: none;
  padding: 12px;
  border-radius: 6px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #ffcc00;
}

.auth-container p {
  font-size: 14px;
  margin-top: 15px;
  color: #ccc;
}

.auth-container a {
  color: #ffb6c1;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}

.auth-options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0;
  color: #ccc;
}


.auth-page {
  background-image: url('../assets/images/bg.jpg'); /* adjust path if needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
