.thank-you-page {
  font-family: 'Baskervville', serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.thank-you-box {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.thank-you-box h1 {
  color: #5a3c2e;;
  font-size: 32px;
}

.thank-you-box p {
  font-size: 18px;
  margin: 20px 0;
}

.btn-home {
  padding: 10px 20px;
  background-color: #5a3c2e;;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.btn-home:hover {
  background-color: wheat;
  color:  #5a3c2e;;
}
